#App {
    background-color: #23263A;
    padding: 15px;
}

#heading {
    text-align: center;
    margin-top: 0px;
    color: white;
}

#description {
    text-align: center;
    color: white;
    margin-bottom: 25px;
}

#movie-table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #40506a;
    padding: 30px;
    border-radius: 20px;
}

#title-header {
    color: white;
    font-size: 20px;
    padding: 0 60px 30px 60px;
}

#rating-header {
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 0 60px 30px 60px;
}

#poster-header {
    color: white;
    font-size: 20px;
    padding: 0 60px 30px 60px;
}

#release-date-header {
    color: white;
    font-size: 20px;
    padding: 0 60px 30px 60px;
}

td {
    color: white;
}

tr {
    margin-bottom: 10px;
}