#App {
    background-color: #23263A;
    height: 100vh;
    padding: 15px;
}

#heading {
    text-align: center;
    margin-top: 0px;
    color: white;
}

#description {
    text-align: center;
    color: white;
    margin-bottom: 25px;
}

#movie-table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#title-header {
    color: white;
    font-size: 20px;
}

#rating-header {
    cursor: pointer;
    color: white;
    font-size: 20px;
}

td {
    color: white;
}

tr {
    margin-bottom: 10px;
}